/*********** CAROUSEL ***********/

.carousel-wrapper {
  position: relative;
  display: block;
  height: 250px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.carousel-event {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: all 1s ease-in-out;
}

.textbox h3 {
  margin: 0;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 10px 0px;
  border-radius: 0.5em;
  width: 80%;
  max-width: 600px;
}

.textbox h3:hover {
  color: white;
  background-color: var(--main-orange-color, 0.9);
  font-size: 2rem;
}

.arrow {
  border: solid #eee;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 6px;
}
.arrow:hover {
  border-color: var(--main-orange-color);
  border-width: 0 7px 7px 0;
}

.arrow-prev-container {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  opacity: 1;
  position: absolute;
  top: 45%;
  left: 30px;
  z-index: 3;
}

.arrow-prev {
  left: -10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(135deg);
}

.arrow-next-container {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  opacity: 1;
  position: absolute;
  top: 45%;
  right: 30px;
}

.arrow-next {
  right: -10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

[id^="event"] {
  display: none;
}
[Id^="exhibition"] {
  display: none;
}
[Id^="explore"] {
  display: none;
}
/* Special events*/

.event-1 {
  z-index: 2;
  opacity: 1;
  background-image: url("../images/special_events/aeroneutics/aeroneutics_lecture.jpg");
  background-size: cover;
  background-position: center;
}

.event-2 {
  background-image: url("../images/special_events/night_in_the_museum/sleep_over_event.jpg");
  background-size: cover;
  background-position: center;
}

.event-3 {
  background-image: url("../images/special_events/energetica/energetica_event.jpg");
  background-size: cover;
  background-position: center;
}

*:target ~ .event-1 {
  opacity: 0;
}

#event-1:target ~ .event-1 {
  opacity: 1;
}
#event-2:target ~ .event-2,
#event-3:target ~ .event-3 {
  z-index: 3;
  opacity: 1;
}

/* Exhibitions */

.exhibition-1 {
  z-index: 2;
  opacity: 1;
  background-image: url("../images/exhibitions/cosmology/planets.jpg");
  background-size: cover;
  background-position: center;
}
.exhibition-2 {
  background-image: url("../images/exhibitions/evolution/skeleton.jpg");
  background-size: cover;
  background-position: center;
}
.exhibition-3 {
  background-image: url("../images/exhibitions/biology_medicine/heart.jpg");
  background-size: cover;
  background-position: center;
}
.exhibition-4 {
  background-image: url("../images/exhibitions/robotics_ai/samuel_zeller.jpg");
  background-size: cover;
  background-position: center;
}
.exhibition-5 {
  background-image: url("../images/exhibitions/ecology/ant.jpg");
  background-size: cover;
  background-position: center;
}
*:target ~ .exhibition-1 {
  opacity: 0;
}

#exhibition-1:target ~ .exhibition-1 {
  opacity: 1;
}
#exhibition-2:target ~ .exhibition-2,
#exhibition-3:target ~ .exhibition-3,
#exhibition-4:target ~ .exhibition-4,
#exhibition-5:target ~ .exhibition-5 {
  z-index: 3;
  opacity: 1;
}

/* Explore */

.explore-1 {
  z-index: 2;
  opacity: 1;
  background-image: url("../images/explore/kids/girl_learning.jpg");
  background-size: cover;
  background-position: center;
}
.explore-2 {
  background-image: url("../images/explore/teachers/teacher.jpg");
  background-size: cover;
  background-position: top;
}
.explore-3 {
  background-image: url("../images/explore/researchers/lab_drawing.jpg");
  background-size: cover;
  background-position: center;
}
*:target ~ .explore-1 {
  opacity: 0;
}

#explore-1:target ~ .explore-1 {
  opacity: 1;
}
#explore-2:target ~ .explore-2,
#explore-3:target ~ .explore-3 {
  z-index: 3;
  opacity: 1;
}
/* MEDIA QUERIES */
@media screen and (min-width: 400px) {
  .textbox h3 {
    width: 60%;
  }
}
@media screen and (min-width: 500px) {
  .carousel-wrapper {
    height: 300px;
    margin: 50px 0px;
  }
  .textbox h3 {
    font-size: 2rem;
    padding: 10px 0px;
  }
  .textbox h3:hover {
    font-size: 2.2rem;
  }
}
@media screen and (min-width: 600px) {
  .carousel-wrapper {
    height: 350px;
  }
  .textbox h3 {
    padding: 15px 0px;
  }
}
@media screen and (min-width: 700px) {
  .carousel-wrapper {
    height: 400px;
  }
}
@media screen and (min-width: 800px) {
  .carousel-wrapper {
    height: 450px;
    width: 700px;
    margin: 50px auto;
    border-radius: 10px;
  }
  .carousel-event {
    border-radius: 10px;
  }
  .arrow {
    border-width: 0 7px 7px 0;
    padding: 10px;
  }
}
@media screen and (min-width: 900px) {
  .carousel-wrapper {
    height: 500px;
    width: 800px;
  }
}
@media screen and (min-width: 1000px) {
  .carousel-wrapper {
    width: 900px;
  }
  .textbox h3 {
    font-size: 2.5rem;
    padding: 20px 0px;
    width: 50%;
  }
  .textbox h3:hover {
    font-size: 3rem;
  }
}
@media screen and (min-width: 1100px) {
  .carousel-wrapper {
    width: 1000px;
  }
}
@media screen and (min-width: 1200px) {
  .carousel-wrapper {
    height: 550px;
    width: 1100px;
  }
}
@media screen and (min-width: 1300px) {
  .carousel-wrapper {
    height: 600px;
    width: 1200px;
  }
}
@media screen and (min-width: 1400px) {
  .carousel-wrapper {
    height: 700px;
    width: 1300px;
  }
}
