h2,
p {
  text-align: center;
}
.contact-container {
  align-items: center;
  justify-content: center;
  margin: 30px 0px;
}
.contact-container form {
  background-color: var(--main-yellow-color);
  color: black;
  display: grid;
  margin-top: 10px;
  padding: 20px;
  border-radius: 5px;
}
.contact-container input,
.contact-container textarea,
.contact-container select {
  padding: 5px;
  border: solid 2px var(--main-dark-orange-color);
  border-radius: 5px;
  margin: 10px 0px;
  font-size: 1.6rem;
  font-family: Courier, "Courier New", monospace;
}
.contact-container label {
  font-size: 1.8rem;
  font-weight: bold;
}
.map-contactus {
  margin: 50px 0px;
}
.complete-logo {
  max-width: 500px;
  margin: 0 auto;
}

@media screen and (min-width: 600px) {
  .contact-container input,
  .contact-container textarea,
  .contact-container select {
    font-size: 1.8rem;
  }
  .contact-container label {
    font-size: 2rem;
  }
  .google-map {
    height: 400px;
  }
  .cta-button {
    font-size: 3rem;
    padding: 25px;
  }
}
@media screen and (min-width: 900px) {
  .google-map {
    height: 500px;
  }
}
@media screen and (min-width: 1200px) {
  .google-map {
    height: 600px;
  }
}
