/*********** CONTACT US PAGE ***********/

h2,
p,
ul {
  text-align: center;
}

/*********** CONTACT FORM ***********/

.contact-container {
  align-items: center;
  justify-content: center;
  margin: 30px 0px;
}

.contact-container form {
  background-color: var(--light-blue-color);
  color: var(--main-black-color);
  display: grid;
  margin-top: 10px;
  padding: 20px;
  border: solid 2px var(--main-orange-color);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.contact-container input,
.contact-container textarea,
.contact-container select {
  padding: 5px;
  border: solid 2px var(--main-orange-color);
  border-radius: 5px;
  margin: 10px 0px;
}

/*********** MEDIA QUERIES ***********/

@media (min-width: 768px) {
  .information-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    align-items: top;
    margin-bottom: 50px;
  }
}
