h1 {
  font-size: 2.2rem;
  text-align: center;
}
h2 {
  font-size: 1.8rem;
  margin-top: 35px;
}
small {
  font-size: 1.2rem;
  display: block;
  text-align: center; /* small is an inline element so I have to make it display block for text-align to work*/
}
p {
  font-size: 1.6rem;
}
li {
  font-size: 1.6rem;
}
a {
  color: var(--dark-orange-color);
}

/* MEDIA QUERIES */
