.explore-container {
  max-width: 1000px;
  margin: 0 auto;
}
.teachers-image {
  box-shadow: none;
}
@media screen and (min-width: 500px) {
  .explore-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .kids-image {
    max-height: 500px;
    width: auto;
  }
  .teachers-image {
    max-height: 500px;
    width: auto;
  }
}
@media screen and (min-width: 1000px) {
  .explore-image {
    margin: 50px 0px;
  }
}
