/* ===============================
   STYLES FOR THE HOMEPAGE — MOBILE FIRST
   =============================== */

main {
  margin: 0;
}

h2,
h3,
p {
  text-align: center;
  margin: 30px;
}

/* ===============================
   INTRODUCTION CONTENT
   =============================== */

/* Introduction content container */
.introduction-content-container {
  position: relative;
  height: 20vh;
}

/* Background image */
.background-image {
  height: 100%;
  background-image: url("../images/museum/museum.jpg");
  background-size: cover;
  background-position: center;
}

/* Text on top of background image */
.background-image h1 {
  color: white;
  margin: 10px;
  position: absolute;
  z-index: 2; /* Ensure h1 is above the overlay */
}

/* Transparent overlay on background image to make the text more visible */
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1; /* Ensure the overlay is below the h1*/
}

/* Opening hours container */
.opening-hours-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--main-orange-color);
  padding: 10px;
  font-weight: bold;
}

/* Short cut container (links to visit us, explore and get involved) */
.short-cut-container {
  background-color: var(--main-yellow-color);
  padding: 10px;
}

/* Short cut list items */
.short-cut-container ul {
  text-align: center;
}

.short-cut-container li {
  padding: 5px 0;
}

/* Short cut links */
.short-cut-container a {
  color: var(--main-black-color);
}

.short-cut-container a:hover {
  font-size: 2rem;
  color: var(--main-white-color);
}

/* ===============================
   MEDIA QUERIES
   =============================== */

/* TABLET 768px - 1024px */
@media (min-width: 768px) {
  .introduction-content-container {
    height: 30vh;
  }

  .opening-hours-container {
    padding: 20px;
  }
}

/* DESKTOP (1024px and up) */
@media (min-width: 1024px) {
  .introduction-content-container {
    height: 40vh;
  }
}
