main {
  margin: 0;
}

h2,
h3,
p {
  text-align: center;
  margin: 30px;
}

/*********** INTRODUCTION ***********/

.introduction-content-container {
  position: relative;
  height: 20vh;
}

.background-image {
  height: 100%;
  background-image: url("../images//museum/museum.jpg");
  background-size: cover;
  background-position: center;
}

.background-image h1 {
  color: white;
  margin: 10px;
  position: absolute;
  z-index: 2; /* Ensure h1 is above the overlay */
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1; /* Ensure the overlay is below the h1*/
}

.opening-hours-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--main-orange-color);
  padding: 10px;
  font-weight: bold;
}

.short-cut-container {
  background-color: var(--main-yellow-color);
  padding: 10px;
}

.short-cut-container ul {
  text-align: center;
}

.short-cut-container li {
  padding: 5px 0px;
}

.short-cut-container a {
  color: var(--main-black-color);
}

.short-cut-container a:hover {
  font-size: 2rem;
  color: var(--main-white-color);
}

/*********** MAP ***********/

/*********** MEDIA QUERIES ***********/

@media (min-width: 500px) {
  .introduction-content-container {
    height: 30vh;
  }
  .background-image h1 {
    margin: 20px;
  }
}

@media (min-width: 700px) {
  .opening-hours-container {
    padding: 20px;
  }
}

@media (min-width: 1000px) {
  .introduction-content-container {
    height: 40vh;
  }
  .background-image h1 {
    margin: 30px;
  }

  .short-cut-container a:hover {
    font-size: 2.5rem;
  }
}
