main {
  margin: 0;
}
h2,
h3,
p {
  text-align: center;
  margin: 30px;
}

.introduction-content-container {
  position: relative;
  height: 20vh;
}
.background-image {
  height: 100%;
  background-image: url("../images/scott-webb-102825.jpg");
  background-size: cover;
  background-position: center;
}
.background-image h1 {
  color: white;
  margin: 0px;
  white-space: wrap;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Adjust the alpha value for transparency */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1; /* Ensure the overlay is below the h1 */
}
.opening-hours-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ffe3b0;
  padding: 10px;
}
.short-cut-container {
  background-color: var(--main-yellow-color);
  padding: 10px;
}
.short-cut-container ul {
  list-style: none;
  text-align: center;
  padding: 0px;
}
.short-cut-container li {
  padding: 5px 0px;
}
.short-cut-container a {
  color: black;
}

/* CAROUSEL */

/*  MAP  */
.map-index {
  margin: 30px;
}
