/* ===============================
   STYLES FOR SPECIAL EVENTS PAGE — MOBILE FIRST
   =============================== */

.special-events-wrapper {
  margin: 0 auto;
  max-width: 1500px;
}

/* ===============================
   MEDIA QUERIES
   =============================== */

/* LARGE DESKTOP (1200px and up) */
@media (min-width: 1200px) {
  .exhibition-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 30px;
    margin-bottom: 50px;
  }
  .exhibition-image {
    align-self: center;
    justify-self: center;
    width: auto;
  }
  .lecture-image {
    grid-column: 2;
    grid-row: 1/3;
    max-height: 350px;
  }
  .nightmuseum-image {
    grid-column: 1;
    grid-row: 1/3;
    max-height: 500px;
  }
  .energetica-image {
    grid-column: 2;
    grid-row: 1/3;
    max-height: 400px;
  }
}
