/*********** GLOBAL STYLES ***********/

@import "imports/variables.css";
@import "imports/header.css";
@import "imports/footer.css";

html {
  font-size: 62.5%;
}

body {
  margin: 0px;
  font-family: Courier, "Courier New", monospace;
}

main {
  margin: 35px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

.legal-list {
  list-style: disc;
  padding-left: 40px;
}

/* Font sizes */
h1 {
  text-align: center;
  font-size: 2.6rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
}

p,
li {
  font-size: 1.4rem;
}

.footer-column li {
  font-size: 1.2rem;
}

small {
  font-size: 1.2rem;
  display: block;
  text-align: center; /* small is an inline element so I have to make it display block for text-align to work*/
}

/* Links */
a {
  text-decoration: none;
  font-weight: bold;
  color: var(--dark-blue-color);
}

a:hover {
  color: var(--main-orange-color);
}

/* Design details */
hr {
  border: 4px double var(--dark-orange-color);
  margin-top: 50px;
  margin-bottom: 50px;
}

/* BUTTON*/
.cta-button {
  display: flex;
  color: var(--main-black-color);
  background-color: var(--main-orange-color);
  font-weight: bold;
  font-family: Courier, "Courier New", monospace;
  font-size: 1.4rem;
  cursor: pointer;
  box-shadow: 5px 5px 5px var(--main-black-color);
  border: 2px solid var(--main-black-color);
  border-radius: 10px;
  padding: 20px;
  margin: 30px auto;
}

.cta-button:hover {
  color: var(--main-white-color);
  background-color: var(--dark-blue-color);
  border: 3px solid var(--main-white-color);
  transition: ease-in-out 200ms;
}

/* MAPS */
.google-map {
  border: none;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* IMAGES */
img {
  width: 100%;
  border-radius: 5px;
  margin: 20px 0px;
}

.exhibition-image,
.explore-image {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/*********** MEDIA QUERIES ***********/

@media (min-width: 768px) {
  main {
    margin: 50px;
  }

  h1 {
    font-size: 2.8rem;
  }

  h2 {
    font-size: 2.2rem;
  }

  h3 {
    font-size: 2rem;
  }

  p,
  li {
    font-size: 1.6rem;
  }

  small,
  .footer-column li {
    font-size: 1.4rem;
  }

  .cta-button {
    font-size: 1.6rem;
  }
}

@media (min-width: 1024px) {
  main {
    margin: 50px 100px;
  }

  h1 {
    font-size: 3.2rem;
  }

  h2 {
    font-size: 2.4rem;
  }

  h3 {
    font-size: 2.2rem;
  }

  p,
  li {
    font-size: 1.8rem;
  }

  small,
  .footer-column li {
    font-size: 1.6rem;
  }

  .cta-button {
    font-size: 1.8rem;
  }
}
