/* GLOBAL STYLES */
@import "imports/variables.css";

html {
  font-size: 62.5%;
}
body {
  margin: 0px;
  font-family: Courier, "Courier New", monospace;
}
main {
  margin: 35px;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  border-radius: 5px;
  margin: 20px 0px;
}
h1 {
  text-align: center;
  font-size: 2.6rem;
}
h2 {
  font-size: 2rem;
  margin-top: 35px;
}
p {
  font-size: 1.6rem;
}
li {
  font-size: 1.6rem;
}
small {
  font-size: 1.2rem;
  display: block;
  text-align: center; /* small is an inline element so I have to make it display block for text-align to work*/
}
a {
  text-decoration: none;
  font-weight: bold;
  color: var(--main-dark-orange-color);
}
hr {
  border: 4px double var(--main-dark-orange-color);
  margin-top: 50px;
  margin-bottom: 50px;
}
.cta-button {
  display: flex;
  color: black;
  background-color: var(--main-dark-orange-color);
  font-weight: bold;
  font-family: Courier, "Courier New", monospace;
  font-size: 2rem;
  cursor: pointer;
  box-shadow: 5px 5px 5px black;
  border: none;
  border-radius: 10px;
  padding: 20px;
  margin: 30px auto;
}
.cta-button:hover {
  color: black;
  background-color: var(--main-yellow-color);
  border: 2px solid var(--main-dark-orange-color);
  transition: ease-in-out 200ms;
}
.google-map {
  width: 100%;
  height: 300px;
  border: 0;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.exhibition-image,
.explore-image {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
/* HEADER */

header {
  display: block;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
  background-color: var(--main-yellow-color);
  color: var(--main-dark-orange-color);
}
nav {
  display: none;
  position: absolute;
  top: 108px;
  right: 0px;
  left: 0px;
  z-index: 1000;
  background-color: var(--main-yellow-color);
  box-shadow: rgba(0, 0, 0, 0.8) 0px 60px 40px 10px;
}
nav ul {
  padding: 0px;
}
nav li {
  text-align: center;
  display: block;
  padding: 15px;
}
nav a {
  text-decoration: none;
  color: var(--main-dark-orange-color);
  font-size: 1.8rem;
  font-weight: bold;
}
.header-logo {
  flex-grow: 1;
}
.header-logo a img {
  width: 100px;
  margin: 0;
}
.header-icons {
  font-size: 2.5rem;
  cursor: pointer;
}
.menu {
  order: 1;
  padding-left: 20px;
}
#hamburger-menu {
  display: none;
}
#hamburger-menu:checked ~ nav {
  display: block;
}
.search-container {
  position: relative;
}
.toggle-search-checkbox {
  display: none;
}
.search-dropdown {
  position: absolute;
  top: 110%;
  left: -115px;
  display: none;
  z-index: 1000;
}
.toggle-search-checkbox:checked + .search-icon + .search-dropdown {
  display: block;
}
.search-input {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--main-dark-orange-color);
  border-radius: 5px;
  outline: none;
  font-family: Courier, "Courier New", monospace;
}

/* FOOTER */

footer {
  background-color: var(--main-yellow-color);
  padding: 0px 20px;
  margin-top: 50px;
}
footer li {
  margin-bottom: 5px;
  font-size: 1.4rem;
}
.footer-container {
  display: grid;
  column-gap: 10px;
  grid-template-columns: 1fr;
  text-align: center;
  font-weight: bold;
}
.footer-column {
  flex: 1;
  margin-bottom: 20px;
}
.footer-column ul {
  list-style: none;
  padding: 0;
}
.footer-column a {
  text-decoration: none;
  color: black;
}
.social-media-list li {
  margin-bottom: 10px;
}

.footer-logo img {
  padding: 0px 0px 20px 0px;
  width: 200px;
  height: auto;
  text-align: center;
}
.footer-icons {
  color: var(--main-dark-orange-color);
}

/* MEDIA QUERIES */
@media screen and (min-width: 360px) {
  .footer-container {
    grid-template-columns: 1fr 1fr;
  }
  .footer-logo img {
    width: 150px;
  }
}
@media screen and (min-width: 450px) {
  h1 {
    font-size: 4.8rem;
  }
  h2 {
    font-size: 3rem;
  }
  p,
  li {
    font-size: 1.8rem;
  }

  small {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 515px) {
  /* MEDIA QUERY FOOTER */
  .footer-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .footer-logo {
    grid-area: 2/3;
  }
}
@media screen and (min-width: 600px) {
  main {
    margin: 50px;
  }
  /* MEDIA QUERY HEADER */
  nav a {
    font-size: 2.5rem;
  }
  nav {
    padding-bottom: 25px;
  }
}
@media screen and (min-width: 675px) {
  /* MEDIA QUERY FOOTER */
  .footer-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .footer-logo {
    grid-area: 2/1;
  }
}
@media screen and (min-width: 955px) {
  /* MEDIA QUERY FOOTER */
  .footer-container {
    display: flex;
    justify-content: space-between;
    text-align: left;
  }

  .footer-logo img {
    width: 200px;
    margin: 0px;
  }
  footer {
    padding: 10px 30px;
    margin-top: 80px;
  }
}
@media screen and (min-width: 1000px) {
  footer {
    padding: 10px 50px;
  }
}
