/*********** VISIT US ***********/

.map-visitus {
  width: 100%;
  height: 300px;
}

/*********** MEDIA QUERIES ***********/

@media screen and (max-width: 699px) {
  .map-visitus {
    max-width: 500px;
  }
}

@media screen and (min-width: 700px) {
  .visit-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    align-items: center;
    margin-bottom: 50px;
  }
  .map-container {
    grid-column: 1/1;
    grid-row: 1/3;
  }
  .map-visitus {
    height: 400px;
  }
  .location {
    grid-column: 2/2;
    grid-row: 1/1;
  }
  .hours {
    grid-column: 2/2;
    grid-row: 2/2;
  }
  h1 {
    margin-bottom: 30px;
  }
  .location h2 {
    margin-top: 0px;
  }
}

@media screen and (min-width: 1000px) {
  .visit-container {
    column-gap: 50px;
  }
}
