/* ===============================
   FOOTER STYLES FILE — MOBILE FIRST
   =============================== */

footer {
  background-color: var(--lightest-blue-color);
  padding: 0px 20px;
  margin-top: 50px;
  text-align: center;
  font-weight: bold;
}

footer li {
  margin-bottom: 5px;
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.footer-column a {
  color: var(--main-black-color);
}

.footer-column a:hover {
  color: var(--main-white-color);
}

.footer-logo img {
  margin: 0 0 20px 0;
  width: 100px;
  height: auto;
}

.footer-icons {
  color: var(--main-orange-color);
}

/* ===============================
    MEDIA QUERIES
   =============================== */

/* TABLET (768px - 1024px) */
@media (min-width: 768px) {
  .footer-container {
    grid-template-columns: 1fr 1fr;
  }

  .footer-logo {
    grid-column: 1/-1;
  }
}

/* DESKTOP (1024px and up) */
@media (min-width: 1024px) {
  footer {
    padding: 10px 30px;
    margin-top: 80px;
    text-align: left;
  }

  .footer-container {
    display: flex;
    justify-content: space-between;
  }

  .footer-logo img {
    padding-top: 5px;
  }
}
