/* ===============================
   HEADER STYLES FILE — MOBILE FIRST
   =============================== */

/* Header container */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 10px 25px 5px 25px;
  background-color: var(--main-blue-color);
  color: var(--main-orange-color);
}

/* Navigation */
nav {
  display: none;
  position: absolute;
  top: 75px;
  right: 0px;
  left: 0px;
  z-index: 1000;
  text-align: center;
  background-color: var(--main-blue-color);
  box-shadow: rgba(0, 0, 0, 0.8) 0px 60px 40px 10px;
}

nav li {
  display: block;
  padding: 15px;
}

nav a {
  color: var(--main-white-color);
}

/* Logo */
.header-logo {
  margin-right: auto;
  margin-bottom: 0;
}

.header-logo a img {
  margin: 0;
  width: 50px;
}

/* Icons (hamburger and search) */
.header-icons {
  font-size: 2.5rem;
  cursor: pointer;
}

/* Hamburger menu */
.menu {
  order: 1;
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

/* Search */
.search-container {
  position: relative;
}

.toggle-search-checkbox {
  display: none;
}

.search-dropdown {
  position: absolute;
  top: 110%;
  left: -115px;
  display: none;
  z-index: 1000;
}

.toggle-search-checkbox:checked + .search-icon + .search-dropdown {
  display: block;
}

.search-input {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--main-orange-color);
  border-radius: 5px;
  outline: none;
  font-family: Courier, "Courier New", monospace;
}

/* ===============================
    MEDIA QUERIES
   =============================== */

/* TABLET (768px and up) */
@media screen and (min-width: 768px) {
  header {
    gap: 30px;
  }

  nav {
    top: 107px;
  }

  .header-logo a img {
    width: 80px;
  }

  .header-icons {
    font-size: 3rem;
  }
}
